@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --selection-background: theme(colors.yellow.300);
  --selection-foreground: theme(colors.yellow.950);
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282828;
    --foreground: #ffffff;
  }
}

body {
  font-family: var(--font-fira-code), monospace;
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: color-mix(in srgb, var(--foreground) 25%, transparent);
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar {
  width: 10px;
}
