@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --selection-background: theme(colors.yellow.300);
  --selection-foreground: theme(colors.yellow.950);
  --background-hovering: #e6e6e6;
  --background-surface: #e6e6e6;
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background-hovering: #343434;
  --background-surface: #1e1e1e;
  --background: #282828;
  --foreground: #ffffff;
}

body {
  font-family: var(--font-fira-code), monospace;
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar-thumb {
  border-radius: theme(borderRadius.full);
  background: color-mix(in srgb, var(--foreground) 10%, transparent);
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar {
  width: theme(width[2.5]);
}
